@model SMS.ViewModel.OrderVM

@{
    ViewBag.Title = "View Invoice :ByAdmin";
    var total = 0;
}
@{
    var currentUser = (SMS.ViewModel.UserVM)Session["CurrentUser"];

}
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <form class="form-horizontal" id="frmOrder">
                <!--Add button-->
                <div class="box-header with-border">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success" onclick="window.location = '/Order/ViewinvoiceByAdmin?userId=@Model.OrderVMs.UserId';">Back</button>
                    </div>
                </div>
                <div class="box-body">
                    <b>
                        <i>Order Date		: @Model.OrderVMs.Order_Date</i><br>
                        <i>Customer Name	: @Model.OrderVMs.Name</i><br>
                        <i>Email	: @Model.OrderVMs.Email</i><br>
                        <i>Phone	: @Model.OrderVMs.PhoneNo</i><br>
                        <i>Address	: @Model.OrderVMs.FullAddress</i><br>
                        <i>Receiver Name	: @Model.OrderVMs.Receiver_Name</i><br>
                        <i>Delivery Address	: @Model.OrderVMs.Delivery_Address</i>
                    </b>
                    <!--List Table-->
                    <table id="tblOrder" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" border="1">
                        <thead>
                            <tr>
                                <th>Book Title</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var books in Model.BookVM)
                            {
                                 int price = books.Qty * books.Price;
                                <tr>
                                    <td>@books.Title</td>
                                    <td>@books.Qty</td>
                                    <td>@books.Price</td>
                                    <td>@price</td>
                                    @if (books.Status == 1)
                                    {
                                        <td><a href="#" class="btn btn-success disabled">Delivered</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="/Order/MakeAsDelivered?id=@books.OrderId&updatedUserId=@currentUser.Id&userId=@Model.OrderVMs.UserId&orderDate=@Model.OrderVMs.Order_Date" class="btn btn-success">Make As Delivered</a></td>
                                    }
                                </tr>
                                total += price;
                            }
                            <tr>
                                <td colspan="3" align="right"><b>Total: </b></td>
                                <td colspan="2">@total</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>



